<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href=" {{ url_for('/', filename='application/static/css/style.css') }} ">
        <script src=" {{ url_for('/', filename='application/static/js/script.js') }} "></script>
        <meta charset="utf-8">
        <title>Demo for k8s</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="header">
            <h1>Hi hsw World!</h1>
            <p><b>HTML</b>text</p>
        </div>

        <div class="navbar">
            <a href="#" class="active">Home</a>
            <a href="#">Link</a>
            <a onclick="myFunction()">js test</a>
            <a href="#" class="right">Link</a>
        </div>

        <div class="row">
            <div class="side">
                <h2 id="demo">This is Test Project</h2>
                <h5>HTML:</h5>
                <div class="fakeimg" style="height:200px;">Image</div>
                <p>long Text</p>
                <h3>Some Title</h3>
                <p>More Text</p>
                <div class="fakeimg" style="height:60px;">Image</div><br>
                <div class="fakeimg" style="height:60px;">Image</div><br>
                <div class="fakeimg" style="height:60px;">Image</div>
            </div>
            <div class="main">
                <h2>TITLE HEADING</h2>
                <h5>Title description</h5>
                <div class="fakeimg" style="height:200px;">Image</div>
                <p>Some text..</p>
                <p>this is description</p>
                <br>
                <h2>TITLE HEADING</h2>
                <h5>Title description</h5>
                <div class="fakeimg" style="height:200px;">Image</div>
                <p>Some text..</p>
                <p>This is description</p>
            </div>
        </div>

        <div class="footer">
            <h2>Footer</h2>
        </div>

    </body>
</html>
